h1,h2,h3{
    text-align: center;
    background-color: red;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.food-img{
    height: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.food-img.aussie{
    height: auto;
    width: 300px;
}
p,ul,ol{
    background-color: antiquewhite;
}
div{
    background-color: blueviolet;
    text-align: center;
    font-size: 40px;
}